{{- $posts := "" -}}

{{- if .section -}}
    {{- $posts = (where site.RegularPages "Section" .section) -}}
{{- else -}}
    {{- if (eq .context.Kind "taxonomy") -}}
        {{- $posts = .context.Pages -}}
    {{- else -}}
        {{- if (eq .context.Kind "term") -}}
            {{- $posts = .context.Data.Pages -}}
	{{- else -}}
            {{- $posts = site.RegularPages }}
	{{- end -}}
    {{- end -}}
{{- end -}}

{{- $limit_exceeded:= "" -}}
{{- if (and .limit (gt (len $posts) .limit)) -}}
    {{- $limit_exceeded = true -}}
{{- else -}}
    {{- $limit_exceeded = false -}}
{{ end }}

{{- if (gt (len $posts) 0) }}
    {{- if .limit }}
        {{ $posts = (first .limit $posts ) }}
    {{ end }}
    <ul class="posts-container">
        {{- range $post := $posts -}}
        <li class="post">

    <a class="post-link" href="{{ .RelPermalink }}"></a>

    <div class="post-thumbnail">

        {{ if .Params.thumbnail }}
            <img
                src="{{ .Params.thumbnail | relURL }}"
                class="post-image"
            >
        {{ else }}
            <div class="post-image noimg-background"></div>
        {{ end }}

        <div class="post-image-hover"></div>

    </div>

    <div class="post-content">

        <div class="post-title-row">

            <b>
                {{ $post.Title }}
            </b>

            <span class="post-date">
                {{- ($post.Date | time.Format site.Params.theme_config.date_format) }}
            </span>

        </div>

        <div class="post-summary-wrapper">

            <p class="post-summary">
                {{ $post.Summary | plainify }}
            </p>

        </div>

        {{ if .Truncated }}
            <span class="post-continue">
                Continue Reading…
            </span>
        {{ end }}

    </div>

</li>
        {{ end }}
        {{- if and .show_more $limit_exceeded }}
            <li><a href="{{ .show_more_url | relURL }}">{{ .show_more_text | default "Show more..." }}</a></li>
        {{ end }}
    </ul>
{{ end }}